/* css bootstrap imports */

@import "bootstrap-theme.min.css";
@import "bootstrap.min.css";

/* Paralax CSS */

html {
  height: 100%;
  overflow: hidden;
}

body {
  color: #000;
  background-color: #1c1c17;
  margin: 0;
  padding:0;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 40vw;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
}

header, header:before {
  background: 50% 50% / cover;
}

header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
	display: block;
	background-color: #8a8;
  background-image: url(https://i.redd.it/7mc0y7p5b0ny.jpg);
  width: 100%;
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
	padding: .5em 0;
}

/*header p {
  background-color: hsla(0, 0%, 0%,0.4);
  color: #ffc;
}*/

header h1 {
  color: #ffc;
  background-color: hsla(0, 0%, 0%,0.4);
}

/*
.main {
  color: white;
  background-color: #1c1c17;
  line-height: 1.7;
  padding: 5% calc(30% - 16em) 35%;
  position: relative;
  z-index: 2;
}*/

/* global css */

.center-text {
  text-align: center;
}

.col-md-6 {
  display: inline-block;
}


.left {
  float: left;
}

.right {
  float: right;
}

img {
  width: 100%;
  padding: 60px;
}

.col-md-6 img, .col-md-4 img {
  width: 100%;
  margin: 15px;
  padding: 0px;
}


/* About */

  #About {
    background-color: #ffc;
  }
  #About p {
    color: #1c1c17;
  }

/* Bikes */

  #Bikes {
    text-align: center;
  }
  #Bikes p, h2 {
    color: #1c1c17;
  }

/* Vision */

  #Vision {
    text-align: center;
    background-color: #ffc;
  }
  #Vision p h2 {
    color: #1c1c17;
  }

/* Gallery */

.gallery img {
  width: 100%;
  height: auto;
}

/* Nav Specific */

.nav {
  color: white;
  background-color: #1c1c17;
  line-height: 1.7;
  position: relative;
  z-index: 2;
}

#Nav li {
    float: left;
    list-style: none;
}

#Nav li a {
    display: block;
    color: #ffc;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
}

#Nav li a:hover {
    color: #018D80;
}

/* Footer Specific */
.footer {
  /*color: #ffc;*/
  background-color: #ffc;
  line-height: 1.7;
  position: relative;
  z-index: 2;
  text-align: center;
}

#Footer li {
    float: left;
    list-style: none;
}

#Footer li a {
    display: block;
    color: #1c1c17;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
}

#Footer li a:hover {
    color: #900020;
}
